<H1> Basic R in the Jupyter Notebook

R is a programming environment created specifically for statistics. It is an interpreted language, which simply means that it takes commands written in text and then interprets those into machine code. R can be used interactively (as we will see in this notebook), or it can be told to execute a list of commands stored in a plain text file (called a 'script').

From within the Jupyter notebook, we can access the R 'kernel' (the program that interprets R code and returns results). This is just one way to use R. Another popular graphical interface for R is called Rstudio. We won't cover Rstudio in this course, but everything we learn that pertains to R also works in Rstudio, because Rstudio, like Jupyter, just provides the interface to work with the R interpreter (strictly speaking, though, the R Jupyter kernel *is* a separate program from the standard R interpreter - this doesn't matter for our purposes).

<H3> R Basics - Data Types

In any programming language, we have the notion of 'data modes' and 'data structures'. This is because programs manipulate data, and different kinds of data require different manipulations. For example, numbers are treated differently than characters (or strings of characters) and single numbers are treated differently than lists of numbers (vectors) or arrays of numbers (matrices).

The following are some simple R data modes:

* numeric
* character
* logical (TRUE or FALSE)
* complex (we won't worry about these!)

Modes can be combined to form data structures:

* Vectors
* Matrices
* Strings
* Data Frames

<H4> Examples

In [1]:
class(c(1,3,2,8.4)) #This is a vector

[1] "numeric"

In [2]:
class(matrix(c(1,3,2,4,5,6),nrow=2,ncol=3)) #This is a matrix

[1] "matrix"

In [3]:
"This is a string!"

[1] "This is a string!"

In [4]:
data.frame(c("This is a string","This is another string"),matrix(c(1:6),nrow=2,ncol=3))

  c..This.is.a.string....This.is.another.string.. X1 X2 X3
1                                This is a string  1  3  5
2                          This is another string  2  4  6

The important thing to note above is the combination of both character and numeric data into one object! That is what is special about data frames.

<H3> R Basics - Creating Objects

<H4> c - Concatenate

We have just seen this command in action. The 'c' command combines objects by concatenation. For example:

In [5]:
c(5,6,7)

[1] 5 6 7

creates a vector of length 3. We can append to that vector, like so:

In [6]:
c(c(5,6,7),8)

[1] 5 6 7 8

Of course, we would usually assign names to objects:

In [7]:
v1<-c(5,6,7)
v2<-c(v1,8)
print(v1)
print(v2)

[1] 5 6 7
[1] 5 6 7 8

<H4> rbind

Now, if we would like to create a matrix, we could use the matrix command as above:

In [8]:
matrix(c(1,3,2,4,5,6),nrow=2,ncol=3)

     [,1] [,2] [,3]
[1,]    1    2    5
[2,]    3    4    6

Or, we could create two vectors and combine them:

In [9]:
v1<-c(1,2,5)
v2<-c(3,4,6)
m1<-rbind(v1,v2)
m1
class(m1)

   [,1] [,2] [,3]
v1    1    2    5
v2    3    4    6

[1] "matrix"

Notice that R has automatically assigned row names for us. Thank you, R! We can also use the column-based version (rbind means 'row bind') to append a column to a matrix:

<h4> cbind

In [10]:
m1<-matrix(c(1,2,3,4),nrow=2,ncol=2)
m1

     [,1] [,2]
[1,]    1    3
[2,]    2    4

In [11]:
m2<-cbind(m1,c(5,6))
m2

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

<H3> Getting Help in the Notebook

If you know the name of the command you want to use, you can just type '? command_name' in a code cell and run it, like so:

In [14]:
?help

<H3> Don't forget Google

If you want to do something, but don't know the command in R, Google can be a great tool! Go ahead and google how to create a histogram in R.

<h3>Play!

Sure, we know we need to work to learn new things - but let's not underestimate the power of play! Take a few moments to play in this new sandbox. Create some vectors, matrices, strings, etc. What can you do? Can you figure out how to make R multiply a matrix times (an appropriately sized) vector? Multiply two matrices? What happens if you add two vectors? Multiply? Do you get the answer you expect?

In [13]:
# Start here - you can work within the lecture notes! How cool is that?

<H3> Work!

* Plot a histogram of 100 numbers generated from the standard normal distribution. Hint: Use help to find out how to generate random numbers from the standard normal, then search for 'histogram'. Don't use the ggplot histogram. We'll cover graphics grammar later on!

* Compute the mean, variance and median of the following list:
(1,2,5,5,2,5,6,8,1,10)

In [15]:
hist(rnorm(100))

Plot with title “Histogram of rnorm(100)”

ERROR: Error in eval(expr, envir, enclos): object 'R' not found